[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[04ba4ed1-79d6-4663-8c7c-c77eb979d984]
row=2
col=0

[ca1deaa6-2aa9-4aef-aeeb-ed64bf9f434d]
row=0
col=0

[F027-0B71]
row=1
col=0

[/]
row=3
col=0

[/home/wbalbinot]
row=4
col=0

